# IMPORT MYSQL CONNECTOR

In [2]:
!pip install mysql_connector-python

Collecting mysql_connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\programdata\anaconda3\lib\site-packages (from mysql_connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31

In [3]:
import mysql.connector as con

In [4]:
import mysql.connector as con
new_db=con.connect(host="localhost",
                   user="root",
                   password="sasha"                  
                  )
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017BAD4ECA00>

In [5]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha")
new_cursor=new_db.cursor()   #here,cursor is a result set through which data of 
                             #executed query is stored in a variable for physical existence
                               #Like a agent and object for storing data
new_cursor.execute("CREATE DATABASE college13")

In [8]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha")
new_cursor=new_db.cursor()
new_cursor.execute("SHOW DATABASES")  
for a in new_cursor:
    print(a)

('college13',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('university',)
('university1',)

In [1]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha")
new_cursor=new_db.cursor()
new_cursor.execute("DROP DATABASE university")

In [2]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha")
new_cursor=new_db.cursor()
new_cursor.execute("DROP DATABASE university1")

In [4]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha",database="college13")
new_cursor=new_db.cursor()
query="CREATE TABLE student13(rno varchar(100),name varchar(200))"
new_cursor.execute(query)

In [8]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha",database="college13")
new_cursor=new_db.cursor()
query="SHOW TABLES"
new_cursor.execute(query)
for a in new_cursor:
    print(a)

('student13',)

In [9]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha",database="college13")
new_cursor=new_db.cursor()
query="INSERT INTO student13(rno,name) values(%s,%s)"  #HERE,%s is a placeholder for inserting multiple values at a time
values=("393CS20015","Nihal Nadaf")
new_cursor.execute(query,values)
new_db.commit()  #Here,commit means changes are made permanently
print("Query OK,",new_cursor.rowcount,"row is inserted")

Query OK, 1 row is inserted

In [11]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha",database="college13")
new_cursor=new_db.cursor()
query="INSERT INTO student13(rno,name) values(%s,%s)"
values=[("393CS20032","vivek"),
       ("393CS20013","avadhoot"),
        ("393CS20008","jahid ali")]
new_cursor.executemany(query,values)
new_db.commit()
print("QUERY OK,",new_cursor.rowcount,"rows is inserted")

QUERY OK, 3 rows is inserted

In [13]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="sasha",database="college13")
new_cursor=new_db.cursor()
query="SELECT * FROM student13"
new_cursor.execute(query)
for i in new_cursor:
    print(i)

('393CS20015', 'Nihal Nadaf')
('393CS20032', 'vivek')
('393CS20013', 'avadhoot')
('393CS20008', 'jahid ali')